<!-- <div class="modal" [ngClass]="visibilidade"> -->
<div class="modal">
  <h1>{{modalbody.tittle}}</h1>
  <hr>
  <div class="mainModal">
    <div class="descriptionModal">
      {{modalbody.contentBody}}
    </div>
  </div>
  <div class="termos">
    <p>Eu concordo com os termos</p>
    <input type="checkbox">
  </div>
  <div class="divBtn">
    <button (click)="closeModal()">
      <p>Concordo</p>
      <mat-icon aria-hidden="false"  fontIcon="thumb_up"></mat-icon>
    </button>
    <button>
      <p>Não concordo</p>
      <mat-icon  aria-hidden="false"  fontIcon="thumb_down"></mat-icon>
    </button>
  </div>
</div>
