@keyframes modalAnimation{
  from{
    top: 12vh;
  }
  to{
    top:6vh;
  }
}

.modal{
  box-sizing: border-box;
  opacity: 0;
  background-color: rgb(255, 255, 255);
  position: fixed;
  left: var(--left-modal);
  width: var(--width-modal);
  border-radius: 20px;
  border: 1px solid #000000;
  padding: 2%;
  max-height: 90vh;
  color: #000000;
  overflow: hidden;
  z-index: 1;
  animation: modalAnimation 1.4s forwards;
  transition: .3s opacity;
  flex-direction: column;
  gap: 10px;
}

p{
  text-align: center;
}

.tittleModal{
  text-align: center;
}

// .descriptionModal{
//   overflow-y: auto;
//   max-height: 25vh;
//   padding: 2%;
//   text-align: left;
// }

.mainModal{
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  width: var(--alert-width);
}

.divBtn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  padding: 5px;
  font-weight:bolder;
}

.termos{
  display: flex;
  gap: 10px;
  justify-content: center;
}

input[type="checkbox"]{
  width: 20px;
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

mat-icon{
  color: #ffffff;
}



/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #817878be;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
