<!-- <div class="modal" [ngClass]="visibilidade"> -->
<div class="modal">
  <div>
    <h3 class="tittleModal">{{modalbody.tittle}}</h3>
    <hr>
  </div>
  <div class="mainModal">
    <!-- <div class="descriptionModal">
      {{modalbody.contentBody}}
    </div> -->
    <img src="assets/imgs/alerta.png">
  </div>
  <div class="termos">
    <p>Logo logo estará prontinho! por favor volte mais tarde :)</p>
  </div>
  <div class="divBtn">
    <button (click)="closeModal()">
      <p>Okay</p>
    </button>
    <!-- <button>
      <p>Não concordo</p>
      <mat-icon  aria-hidden="false"  fontIcon="thumb_down"></mat-icon>
    </button> -->
  </div>
</div>
