<div class="containerMenu">
  <div class="tittle">
    <div class="return-main-menu">
      <i class="{{classIcon}}" (click)="executeFunction(currentFunction)"></i>
      <h6>{{tittle}}</h6>
    </div>
    <hr>
  </div>
  <div class="subContainer">
    <div #menu class="menu">

      <div class="icons-direction cursor-pointer" (click)="transitionMenu('PERFIL','Perfil', 'bi bi-arrow-left-circle-fill')">
        <i class="bi bi-person-badge-fill perfil"></i>
        <app-hover-text [textBox]="'Perfil'"></app-hover-text>
      </div>
      <div class="icons-direction cursor-pointer" (click)="transitionMenu('COMPETENCIAS','Competências', 'bi bi-arrow-left-circle-fill')">
        <i class="bi bi-clipboard-heart-fill competencia"></i>
        <app-hover-text [textBox]="'Competências'"></app-hover-text>
      </div>
      <!-- <div class="icons-direction cursor-pointer" (click)="transitionMenu('PROJETOS','Projetos', 'bi bi-arrow-left-circle-fill')">
        <i class="bi bi-person-fill-gear projetos"></i>
        <app-hover-text [textBox]="'Projetos'"></app-hover-text>
      </div> -->
    </div>
    <app-options-competence [currentOptions]="currentOptions" class="subMenu"></app-options-competence>
  </div>
</div>
