<div class="catalog">
  <app-card-catalog></app-card-catalog>
  <app-card-catalog></app-card-catalog>
  <app-card-catalog></app-card-catalog>
  <app-card-catalog></app-card-catalog>
  <app-card-catalog></app-card-catalog>
  <app-card-catalog></app-card-catalog>
  <app-card-catalog></app-card-catalog>
  <app-card-catalog></app-card-catalog>
  <app-card-catalog></app-card-catalog>
  <app-card-catalog></app-card-catalog>
  <app-card-catalog></app-card-catalog>
  <app-card-catalog></app-card-catalog>
  <app-card-catalog></app-card-catalog>
  <app-card-catalog></app-card-catalog>
  <app-card-catalog></app-card-catalog>
  <app-card-catalog></app-card-catalog>
  <app-card-catalog></app-card-catalog>
  <app-card-catalog></app-card-catalog>
  <app-card-catalog></app-card-catalog>

</div>
