@keyframes levelup{
  from{
    width: 0%;
  }
  to{
    width: 20%;
  }
}

@keyframes fade {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

// .menu{
//   background-color: red;
//   height: 100vh;
//   width: 500vw;
//   position: sticky;
//   top: 0;
// }

// .test{
//   background-color: blue;
//   height: 10vh;
// }

.menu-aside{
  position:sticky;
  top: 0;
  height: 100vh;
  min-width: 10%;
  flex-shrink: 0;
  border-right: 3px var(--property-border);
  border-top: 3px var(--property-border);
  border-bottom: 3px var(--property-border);
}

main{
  display: flex;
  flex-direction: column;
}



.profile{
  float: left;
  margin: 2%;
  width: 30%;
  border: var(--home-border);
  border-radius: 10px;
}

.video{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content{
  border-top: 3px var(--property-border);
}

video{
  max-width: 100%;
  z-index: -1;
  margin-top: var(--header-height);
}

.brief{
  height: 60%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.brief h1{
  font-size: calc(var(--font-size ) + 0.5em);
}

small{
  font-size: var(--font-size);
}

.main{
  background-color: #15011a;
  display: flex;
  flex-grow: 1;
  position: relative;
  align-items: start;
}

.description{
    width: var(--width-format);
    border: var(--home-border);
    margin-top: 20px;
    padding: 2%;
}

.pokedex{
  width: calc(var(--width-format) - 40%);
  border: var(--home-border);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--margin-bottom);
  flex-direction: column;
}

.descriptionPoke{
  padding: 3%;
}

.divBtn{
  width: 94%;
  padding-bottom: 2%;
}

.btn-df{
  background-color: transparent;
  border: hidden;
}

.btn-df:hover{
  background-color: white;
}

.btnPoke{
  padding: 2%;
  border: var(--home-border);
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
}

.img-pokeball{
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mastery{
  max-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mastery-bar{
  flex-shrink: 0;
  width: 100%;
  max-height: 200px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  overflow: hidden;
}

.mastery-level{
  background-color: red;
  height: 100%;
  width: 0%;
  transition: width 1s;
  // animation: levelup 2s forwards;
}

.legends{
  display: flex;
  align-items: center;
  justify-content: center;
}

.styleLegend{
  font-weight: bold;
}

span{
  color: #b168db;
}

.border-right{
  border-right: 1px solid black;
}

.hidden{
  display: none;
}

.show{
  display: block;
  animation: fade 1s forwards;
}

.mastery-description{
  overflow-y: auto;
  box-sizing: border-box;
  padding-right: 2%;
}

.svg-img-front, .svg-img-back, .programming, .dataBase, .devOps, .sis, .versionamento{
  display: flex;
}

.svg-img-back,.svg-img-front,.dataBase, .devOps, .sis, .versionamento{
  justify-content: center;
  gap: 50px;
}

.svg{
  width: 20%;
  box-sizing: border-box;
  padding: 2%;
  cursor: pointer;
}

.svg:hover{
  background-color: #46026e;
}

.competencia{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: var(--width-format);

}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-page{
  height: 80vh;
  width: 5vw;
  flex-shrink: 0;
  background-color: #15011a;
  border-right: 1px solid #b168db;
  border-bottom: 1px solid #b168db;
  border-top: 1px solid #b168db;
  position: fixed;
  top: 0;
  transition: 1s width;
  margin-top: calc(var(--header-height) + 40px);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.menu-page:hover{
  width: 10vw;
}

.hidden-menu{
  width: 0vw !important;
}

.text-width{
  width: calc(var(--width-format) + 4%);
  text-align: start;
}

@media (max-width: 810px) and (min-width: 589px) {
  .brief h1{
    font-size: calc(var(--font-size ) - 0.1em);
  }
}
