main{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.profile{
  float: left;
  margin: 2%;
  width: 30%;
  border: 1px solid #46026e;
  border-radius: 10px;
}

.video{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

video{
  max-width: 100%;
  z-index: -1;
  margin-top: var(--header-hieght);
}

.brief{
  height: 60%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.brief h1{
  font-size: calc(var(--font-size ) + 0.5em);
}

small{
  font-size: var(--font-size);
}

.main{
  background-color: #15011a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-bottom: 20px;
}

.description{
    width: var(--width-format);
    border: 1px solid #46026e;
    margin-top: 20px;
    padding: 2%;
}

.icons{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.svg-img-front, .svg-img-back, .programming, .dataBase, .devOps, .sis, .versionamento{
  display: flex;
}

.svg-img-back, .dataBase, .devOps, .sis, .versionamento{
  justify-content: center;
  gap: 50px;
}

.svg{
  width: 20%;
}

@media (max-width: 810px) and (min-width: 589px) {
  .brief h1{
    font-size: calc(var(--font-size ) - 0.1em);
  }
}
