
<main class="header-gap">
  <img src="/assets/imgs/pokemon.png">
  <div class="divMain">
    <aside>
      <h1>Filter</h1>
      <hr>
      <div class="types">
        <div class="pokemonOption" *ngFor="let typeP of typePokemon">
          <p>{{typeP.tittle}}</p>
          <img class="iconP" src="{{typeP.iconType}}" [ngStyle]="{'background-color':typeP.iconColor}">
        </div>
      </div>
    </aside>
    <div class="booth">

      <div class="card">
        <div class="imgPokemon">
          <img src="/assets/svg/pokemon/pokemons-svg/1.svg">
        </div>
        <div class="body-card">
            <div class="arrow-left">
              <mat-icon (click)="changeElement('left')"  class="icon-arrow icon-left" aria-hidden="false" fontIcon="arrow_back_ios"></mat-icon>
            </div>
            <div class="carousel-info">
              <div class="attributes-pokemon currentElement">
                <h1>Atributos</h1>
                <hr>
                <div class="section-attributes">

                  <div>
                    <h3>Nome:</h3>
                    <p>Bulbasaur</p>
                  </div>

                  <div class="types-pokemon">
                    <h3>Tipo(s):</h3>
                    <div class="type-section">
                      <p>{{pokemonTypes.GRASS.tittle}}</p>
                      <img class="iconP" src="{{pokemonTypes.GRASS.iconType}}" [ngStyle]="{'background-color': pokemonTypes.GRASS.iconColor}">
                    </div>
                    <div class="type-section">
                      <p>{{pokemonTypes.POISON.tittle}}</p>
                      <img class="iconP" src="{{pokemonTypes.POISON.iconType}}" [ngStyle]="{'background-color': pokemonTypes.POISON.iconColor}">
                    </div>
                  </div>

                  <div>
                    <h3>Genêro(s):</h3>
                    <p>Bulbasaur</p>
                  </div>

                  <div>
                    <h3>Altura:</h3>
                    <p>Bulbasaur</p>
                  </div>

                  <div>
                    <h3>Peso:</h3>
                    <p>Bulbasaur</p>
                  </div>

                </div>
              </div>
              <div class="teste" style="background-color: blue;"></div>
              <div class="teste" style="background-color: brown;"></div>
            </div>
            <div class="arrow-right">
              <mat-icon (click)="changeElement('right')" class="icon-arrow icon-right" aria-hidden="false" fontIcon="arrow_forward_ios"></mat-icon>
            </div>
        </div>
        <div>

        </div>
      </div>

      <div class="card">

      </div>

      <div class="card">

      </div>

      <div class="card">

      </div>


      <div class="card">

      </div>


      <div class="card">

      </div>

      <div class="card">

      </div>

      <div class="card">

      </div>

      <div class="card">

      </div>

    </div>
  </div>
</main>
