main, .booth{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

main{
  color: #000000;
}

.booth{
  width: 80vw;
  gap: 20px;
}

aside{
  height: 100vh;
  width: 20vw;
  min-width: 250px;
  border-right: 1px solid #000000;
  position: sticky;
  top: 0;
  overflow-y: auto;
}

i{
  color: #000000;
}

.card, .header-filter, button{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-filter{
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.funnel{
  font-size: 40px;
}




.imgPokemon{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  padding-bottom: 3%;
}

.types{
  padding: 10%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.divMain{
  display: flex;
  align-items: start;
}

.pokemonOption{
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
  width: 90%;
}

.iconP{
  width: 25px;
  padding: 10px;
  border-radius: 40px;
  box-shadow: 1px 3px;
}

.card{
  padding: 3%;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
}

.grid-card{
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  grid-row-gap: 20px;
}

.body-card{
  display: flex;
  // height: 71.2%;
}

.carousel-info{
  width: 80%;
  display: flex;
  flex: row nowrap;
  overflow-x: auto;
  padding: 2%;

}

.attributes-pokemon{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
}

.attributes-pokemon, .pokemon-description{
  display: none;
  overflow-y: auto;
}

.show{
  display: block !important;
}

.section-attributes{
  padding-top: 2%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 30px;
  text-align: center;
}

.type-section{
  display: flex;
  justify-content:space-between;
  max-width: 90%;
  width: 200px;
  align-items: center;
}

.align-type{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.types-pokemon{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.carousel-info::-webkit-scrollbar {
  display: none;
}

.carousel-info {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.arrow-left, .arrow-right{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}


.icon-left{
  padding: 5px;
  padding-left: 12px;
}

.icon-right{
  padding: 5px;
}

.icon-arrow{
  background-color: #ed0909;
  border-radius: 60px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
}

.pokemon-description{
  width: 100%;
}

.pokemon-description, .grid-card{
  max-height: 650px;
}

.gridSecondary{
  grid-template-columns: repeat(2,1fr) !important;
}

@media (max-width: 900px){
  .section-attributes{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1469px){
  .booth{
    width: 100vw;
  }
}








