*{
  --max-width-menu: 27vw;
  --min-width-menu: 27vw;
}

.containerMenu{
  display: flex;
  overflow: hidden auto;
  flex-direction: column;
  max-width: var(--max-width-menu);
  min-width: var(--min-width-menu);
  row-gap: 10px;
  max-height: 100vh;
  min-height: 100vh;
  position: relative;
  border-right: 3px var(--property-border);
  background-color: #260a36;
  // padding-top: calc(var(--header-height) - 3px);
}

.subMenu{
  flex-shrink: 0;
  width: 100%;
  display: none;
}

.subContainer{
  display: flex;
  padding: 30px 10px 30px 10px;
}

.icons-direction{

}

.tittle{
  position: sticky;
  background-color: #411958;
  width: 100%;
  top: 0;
}

.return-main-menu{
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}

@media (max-width:650px){
  *{
    --min-width-menu: 100vw;
  }
}

