:root{

  --teste: rgb(99, 226, 67);
  --body-y: none;
  --width-format: 80%;
  --header-height: 10vh;
  --font-color: #ffffff;
  --font-size: 1rem;
  --type-text: justify;
  font-size: var(--font-size);
  color: var(--font-color);
  font-family: sans-serif;
  text-align: var(--type-text);
  line-height: 1.5;

.form-input{
  border-radius: 10px;
  border: 1px solid #423b3b;
  padding: 5px;
}


button{
  cursor: pointer;
}

body{
  overflow-y: var(--body-y);
}

.header-gap{
  margin-top: var(--header-height);
}

header{
  width: 100vw;
  height: var(--header-height);
  position: fixed;
  z-index: 1;
  padding: 10px;
  box-sizing: border-box;
  top: 0;
}


.blurFilter{
  display: flex;
  flex-direction: column;
  filter: blur(8px);
  user-select: none;
  pointer-events: none;
}

input[type="checkbox"]{
  cursor: pointer;
}

.icons-direction{
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  align-items: center;
}

.menu{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  flex-shrink: 0;
  transition: width 0.5s;
  overflow: hidden;
}

p{
  font-size: var(--font-size);
}

}

*{
  padding: 0;
  margin: 0;
}

h1{
  font-size: var(--font-size);
}




@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
