:root{

.form-input{
  border-radius: 10px;
  border: 1px solid #423b3b;
  padding: 5px;
}


button{
  cursor: pointer;
}

.header-gap{
  margin-top: var(--header-height);
}

header{
  width: 100vw;
  height: var(--header-height);
  position: fixed;
  z-index: 1;
  top: 0;
}


.blurFilter{
  display: flex;
  flex-direction: column;
  filter: blur(8px);
  user-select: none;
  pointer-events: none;
}

input[type="checkbox"]{
  cursor: pointer;
}

  --width-format: 80%;
  --header-height: 10vh;
  --font-color: #ffffff;
  --font-size: 1.8em;
  --type-text: justify;
  font-size: var(--font-size);
  color: var(--font-color);
  font-family: sans-serif;
  text-align: var(--type-text);
  line-height: 1.5;
}

*{
  padding: 0;
  margin: 0;
}

h1{
  font-size: calc(var(--font-size) + 0.1em);
}


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
